---
import { Markdown } from 'astro/components';
import { LINKS } from '../data/links.js';
import Main from '../layouts/Main.astro';
import { UpcomingEvents } from '../components/UpcomingEvents.jsx';
import { LatestDocuments } from '../components/Documents.jsx';
import TextLink from '../components/TextLink.jsx';
import DISCORD from '../../public/assets/discord.svg';
---
<Main title="Homepage">
	<h1 class="text-xl font-semibold">Memorial University Computer Science Society</h1>

	<Markdown>
		Representing the voice of Computer Science students!

		We host social events and activities for students and society members.
	</Markdown>

	<a href={LINKS.discord}>
		<div class="w-[19rem] flex border border-black dark:border-white p-2 justify-center align-middle rounded-lg mx-auto my-6 hover:bg-hover dark:hover:bg-hover-dark">
			<img src={DISCORD} class="mr-3 dark:invert" /> <p class="text-2xl self-center">Join our Discord!</p>
		</div>
	</a>

	<h2 class="font-semibold mt-4">Check us out:</h2>
	<TextLink href={LINKS.github}>GitHub Organization</TextLink>
	<TextLink href={LINKS.facebookPage}>Facebook Page</TextLink>
	<TextLink href={LINKS.facebookGroup}>Facebook Group</TextLink>
	<TextLink href={LINKS.instagram}>Instagram</TextLink>
	<TextLink href={LINKS.twitter}>Twitter</TextLink>

	<h2 class="font-semibold mt-4">Also check out:</h2>
	<TextLink href={LINKS.hackfrostnl}>Hackfrost NL</TextLink>
	<TextLink href={LINKS.ctsnl}>Computer Technology Society NL</TextLink>

	<h2 class="font-semibold mt-4 mb-2">Upcoming events</h2>
	<UpcomingEvents client:only />

	<h2 class="font-semibold mt-4 mb-2">Latest documents</h2>
	<LatestDocuments client:load />
</Main>
