---
import Main from "../../../layouts/Main.astro";
import { data } from "../../../data/elections/fall-2022-election.js";

const roleToCandidates = {};

data.forEach((candidate) => {
	candidate.roles.split(",").map((rawRole) => {
		const role = rawRole.trim();

		if (roleToCandidates[role] === undefined) {
			roleToCandidates[role] = [];
		}

		roleToCandidates[role].push(candidate);
	});
});
---

<Main title="Fall 2022 Election Candidates">
	<h1>Fall 2022 Election Candidates</h1>

	<div class="my-6">
		{
			Object.entries(roleToCandidates).map(([role, candidates]: [any, any]) => (
				<>
					<h2 class="font-semibold mt-4">{role}</h2>
					{candidates.map(({ fullName, image }) => (
						<>
							{image !== "" && (
								<>
									<a href={`#${fullName}`}>
										<img
											class="m-2 w-[6rem] inline-block"
											src={`https://www.cs.mun.ca/~csclub/assets/elections/fall-2022/${image}`}
										/>
									</a>
								</>
							)}
						</>
					))}
				</>
			))
		}
	</div>

	<hr />

	{
		data.map(
			({
				image,
				fullName,
				whyInterested,
				csInterest,
				experience,
				roles,
				currentExec,
			}) => (
				<div class="my-16">
					<a href={`#${fullName}`}>
						<h1 class="text-xl font-bold" id={fullName}>
							{fullName}
							<span class="opacity-80 italic">
								{currentExec === "TRUE" &&
									" (Current executive, up for re-election)"}
							</span>
						</h1>
					</a>

					{image !== "" && (
						<img
							class="my-4 w-[16rem] mx-auto"
							src={`https://www.cs.mun.ca/~csclub/assets/elections/fall-2022/${image}`}
						/>
					)}

					<div class="px-1">
						{whyInterested !== "" && (
							<>
								<h2 class="text-lg italic mt-2 opacity-80">
									Why are you interested in becoming an executive?
								</h2>
								<p class="whitespace-pre-line">{whyInterested}</p>
							</>
						)}

						{csInterest !== "" && (
							<>
								<h2 class="text-lg italic mt-2 opacity-80">
									How long have you been in CS? What about CS interests you?
								</h2>
								<p class="whitespace-pre-line">{csInterest}</p>
							</>
						)}

						{experience !== "" && (
							<>
								<h2 class="text-lg italic mt-2 opacity-80">
									Have you had any preexisting experience that would assist you
									in the roles you are applying for?
								</h2>
								<p class="whitespace-pre-line">{experience}</p>
							</>
						)}

						{roles !== "" && (
							<>
								<h2 class="text-lg italic mt-2 opacity-80">
									Which positions are you interested in?
								</h2>
								<p class="whitespace-pre-line">{roles}</p>
							</>
						)}
					</div>
				</div>
			)
		)
	}
</Main>
