---
import { SIDEBAR } from '../config.js';
import MUNCSS_STACKED_BW from '../../public/assets/muncss_stacked_bw.svg';

const { pathname } = Astro.request.url;

console.log(pathname);

// TODO aria-current on li if current page
---
<nav class="w-full pb-4 md:pb-0 md:w-3/12 border-b md:border-r h-full overflow-y-auto">
	<a href="/">
		<img src={MUNCSS_STACKED_BW} class="mx-auto md:mx-0 my-4 w-1/2 md:w-11/12" />
	</a>
	<ul>
		{SIDEBAR.map((section) => (
			<li>
				<a href={section.link} class="hover:underline" aria-current={section.link === pathname ? 'true' : 'false'}>
					<h2 class="text-xl font-semibold my-1">{section.text}</h2>
				</a>
				{ section.children !== undefined && (
					<ul class="pl-2">
						{section.children?.map((child) => (
							<li>
								<a href={child.link} class="hover:underline" aria-current={child.link === pathname ? 'true' : 'false'}>
									{child.text}
								</a>
								{ child.children !== undefined && child.link === pathname && (
									<ul class="pl-2">
										{child.children?.map((nested) => (
											<li>
												<a href={nested.link} class="hover:underline text-sm" aria-current={nested.link === pathname ? 'true' : 'false'}>
													{nested.text}
												</a>
											</li>
										))}
									</ul>
								)}
							</li>
						))}
					</ul>
				)}
			</li>
		))}
	</ul>
</nav>
