---
import Main from '../../layouts/Main.astro';
import { EXECUTIVES } from '../../data/executives.js';
import PLACEHOLDER from '../../../public/assets/placeholder.png';

const roleToExec = {};

EXECUTIVES.forEach((executive) => {
	executive.roles.map((role) => {
		if (roleToExec[role] === undefined) {
			roleToExec[role] = [];
		}

		roleToExec[role].push(executive);
	});
});

---
<Main title="Executives">
<h1 class="text-lg font-semibold">Executives</h1>

{
	Object.entries(roleToExec).map(([role, execs]) => (
		<>
			<h2 class="font-semibold mt-4">{role}</h2>
			{
				execs.map((exec) => (
					<div class="my-1 h-[14rem] py-2">
						<img src={exec.picture || PLACEHOLDER} class="float-left h-full mr-4" />
						<p class="mt-2">{exec.name}</p>
						<div class="pl-1">
							{ exec.username && <p class="text-sm"><code>{exec.username}</code><span class="opacity-70"> at </span><code>mun</code><span class="opacity-70"> dot </span><code>ca</code></p> }
							{ exec.discord && <p class="text-sm">{exec.discord.username}<span class="opacity-70"><code>#{exec.discord.discriminator}</code></span></p> }
						</div>
					</div>
				))
			}
		</>
	))
}
</Main>
