---
import { Markdown } from 'astro/components';
import Main from '../../../layouts/Main.astro';
import { data } from "../../../data/elections/fall-2021-election.js"

const roleToCandidates = {};

data.forEach((candidate) => {
	candidate.roles.split(",").map((rawRole) => {
		const role = rawRole.trim();

		if (roleToCandidates[role] === undefined) {
			roleToCandidates[role] = [];
		}

		roleToCandidates[role].push(candidate);
	});
});
---
<Main title="Fall 2021 Election Candidates">
	<div class="markdown mb-4">
		<Markdown>
			# Fall 2021 Election Candidates
		</Markdown>
	</div>

	<div class="my-6">
		{Object.entries(roleToCandidates).map(([role, candidates]) => (
				<>
					<h2 class="font-semibold mt-4">{role}</h2>
					{candidates.map(({ fullName, image }) => (
						<>
							{ image !== "" && (
								<>
									<a href={`#${fullName}`}>
										<img class="m-2 w-[6rem] inline-block" src={`https://www.cs.mun.ca/~csclub/assets/elections/fall-2021/candidates/${image}.jpg`} />
									</a>
								</>
							)}
						</>
					))}
				</>
			))}
	</div>

	<hr />

	{data.map(({ image, fullName, year, whyInterested, csInterest, experience, roles }) => (
		<div class="my-16">
			<a href={`#${fullName}`}><h1 class="text-xl font-bold" id={fullName}>{fullName}<span class="opacity-80 italic">, {year}</span></h1></a>

			{ image !== "" && <img class="my-4 w-[16rem] mx-auto" src={`https://www.cs.mun.ca/~csclub/assets/elections/fall-2021/candidates/${image}.jpg`} /> }

			<div class="px-1">
				{ whyInterested !== '' && (
					<>
						<h2 class="text-lg italic mt-2 opacity-80">Why are you interested in becoming an executive? / What would make you a good executive?</h2>
						<p class="whitespace-pre-line">{whyInterested}</p>
					</>
				)}

				{ csInterest !== '' && (
					<>
						<h2 class="text-lg italic mt-2 opacity-80">How long have you been in CS for? / What about CS interests you?</h2>
						<p class="whitespace-pre-line">{csInterest}</p>
					</>
				)}

				{ experience !== '' && (
					<>
						<h2 class="text-lg italic mt-2 opacity-80">Have you had any preexisting experience that would assist you in the roles you are applying for?</h2>
						<p class="whitespace-pre-line">{experience}</p>
					</>
				)}

				{ roles !== '' && (
					<>
						<h2 class="text-lg italic mt-2 opacity-80">What roles are you interested in?</h2>
						<p class="whitespace-pre-line">{roles}</p>
					</>
				)}
			</div>
		</div>
	))}
</Main>
